<div class="cart-container bg-light rounded-5">
  <h2>Il tuo Carrello</h2>
  <div *ngIf="prodotti.length === 0">Il tuo carrello è vuoto.</div>
  <div *ngFor="let prodotto of prodotti">
    <div>{{ prodotto.nome }} - {{ prodotto.prezzo }}€</div>
    <!-- Aggiungi qui eventuali dettagli del prodotto -->
  </div>
  <button *ngIf="prodotti.length > 0" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#checkoutModal">Checkout</button>
  <button *ngIf="prodotti.length > 0" (click)="clearCarrello()" class="btn btn-danger">Svuota Carrello</button>
</div>

<!-- Modal di conferma -->
<div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkoutModalLabel">Confermi di voler procedere al checkout?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="confirmCheckout()">Si</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal di successo -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Checkout avvenuto con successo!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
