<div class="cart-container bg-warning rounded-2 w-50">
  <h2 class="text-black">Carrello</h2>
  <div class="text-black" *ngIf="prodotti.length === 0"></div>
  <div *ngFor="let prodotto of prodotti">
    <div class="text-black">{{ prodotto.nome }} - {{ prodotto.prezzo }}€</div>
    <!-- Aggiungi qui eventuali dettagli del prodotto -->
  </div>
  <button *ngIf="prodotti.length > 0" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#checkoutModal">Salva</button>
  <button *ngIf="prodotti.length > 0" (click)="clearCarrello()" class="btn btn-danger">Svuota Carrello</button>
</div>

<!-- Modal di conferma -->
<div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-black" id="checkoutModalLabel">Confermi di voler procedere con l'acquisto?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annulla</button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="confirmCheckout()">Si</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal di successo -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-black" id="successModalLabel">Acquisto avvenuto con successo!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
